run.sh
node_modules
dist
storybook-static/*
npm-debug.log
yarn-error.log
play.ts
.DS_Store
.zip
.npmrc
.vscode
todo.md
memo.md
.env
/test-results/
/playwright-report/
/playwright/.cache/
.env.test
tests/screenshot
