@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Nunito';
    font-weight: 400;
    src        : url('../assets/fonts/Nunito/Nunito-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Nunito';
    font-weight: 600;
    src        : url('../assets/fonts/Nunito/Nunito-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Nunito';
    font-weight: 700;
    src        : url('../assets/fonts/Nunito/Nunito-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Nunito';
    font-weight: 800;
    src        : url('../assets/fonts/Nunito/Nunito-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Martian';
    font-weight: 500;
    src        : url('../assets/fonts/Martian/static/MartianMono-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Martian';
    font-weight: 600;
    src        : url('../assets/fonts/Martian/static/MartianMono-SemiBold.ttf') format('truetype');
}

body {
    font-family: 'Nunito';
}


@layer components {

    .page-title {
        @apply text-black font-bold text-lg;
    }

    .page-desc {
        @apply text-sm;
    }

    /** max width 800px, max height 600px */
    .plugin-board {
        /* @apply w-[360px] h-[600px] flex flex-col mx-auto rounded-xl overflow-hidden; */
        @apply w-[360px] h-[600px] flex flex-col mx-auto rounded-xl overflow-hidden;
    }

    .btn {
        @apply font-normal text-base rounded-3xl;
    }

    .btn-blue {
        @apply text-white bg-blue border-0;
    }

    .btn-blue:hover {
        @apply bg-blue brightness-90;
    }

    .btn-trans {
        @apply border border-blue text-blue rounded-3xl text-base font-bold py-1 px-4 cursor-pointer transition-all;
    }

    .btn-trans:hover {
        @apply bg-blue text-white;
    }

    .btn-red {
        @apply text-white bg-redLight border-0;
    }

    .btn-red:hover {
        @apply bg-redLight brightness-90;
    }

    .btn-purple {
        @apply text-lg h-12 font-bold min-h-fit text-purple border-purple bg-white;
    }


    .btn-purple:hover {
        @apply bg-white brightness-125 border-purple;
    }

    .btn-purple-primary {
        @apply bg-purple border-purple text-white;
    }

    .btn-purple-primary:hover {
        @apply bg-purple brightness-105 border-purple;
    }

    .btn-purple-disabled {
        @apply opacity-60;
    }

    .btn-purple-disabled:hover {
        @apply cursor-not-allowed brightness-90;
    }

    .btn-purple-error {
        @apply text-alarmRed border-alarmRed;
    }

    .btn-purple-error:hover {
        @apply text-alarmRed border-alarmRed brightness-105;
    }

    .sign-bottom {
        @apply bg-white flex gap-4 fixed bottom-0 left-0 right-0 px-6 py-4 footer-shadow;
    }


    .input {
        @apply rounded-full bg-black bg-opacity-5 border-transparent;

    }

    .switch-circle-shadow {
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.04), 0px 4px 4px rgba(0, 0, 0, 0.08);
    }

    .border-color {
        border-color: #e6e6e6;
    }

    .input {
        @apply rounded-full bg-[#fafafa] border border-[#e0e0e0];
    }

    .token-select {
        @apply rounded-lg bg-[#fafafa] border border-[#e0e0e0];
    }

    .address-input-wrapper {
      @apply font-mono;
      border-right: 1px solid #D7D7D7;
      border-radius: 0;
      flex: 1;
    }

    .name-input-wrapper {
      @apply font-mono;
      border-radius: 0;
      flex: 1;
    }

    .address-input, .name-input, .amount-input {
      border-radius: 0 !important;
      border-width: 0 !important;
      height: 48px !important;
      background: white !important;
    }

    .address-input {
      border-top-left-radius: 1em !important;
      border-bottom-left-radius: 1em !important;
    }

    .name-input {
      border-top-right-radius: 1em !important;
      border-bottom-right-radius: 1em !important;
    }

    .save-gardian-section {
      @apply: flex flex-col items-center justify-center;
      padding: 20px;
    }

    .save-gardian-section-byself {
      border-right: 1px solid #D7D7D7;
    }

    .save-gardian-title {
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 10px;
      text-align: center;
    }

    .save-gardian-text {
      margin-bottom: 10px;
      text-align: center;
    }

    .skip-warning-section {
      margin-bottom: 16px;
    }

    .skip-warning-title {
      font-weight: bold;
      font-size: 16px;
    }

    .skip-warning-text {

    }

    .input::placeholder {
        color: rgba(0, 0, 0, .4);
    }

    .add-guardian-shadow {
        box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.05);
    }

    .navbar-shadow {
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.04);
    }

    .footer-shadow {
        box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.04);
    }

    .dapp-item-shadow {
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    }

    .info-box {
        @apply bg-gray20 py-4 px-6;
    }

    .h-full-with-sidebar {
        height: calc(100% - 80px);
    }

    .receiver-address-box {
        color     : rgba(0, 0, 0, 0.6);
        background: rgba(217, 217, 217, 0.2);
    }

    .tip-text {
        @apply text-black text-sm;
    }

    .skip-text {
        @apply text-[#898989] text-base cursor-pointer font-bold;
    }

    .btn-purple {
        @apply text-lg h-12 font-bold min-h-fit text-purple border-purple bg-white;
    }


    .btn-purple:hover {
        @apply bg-white brightness-125 border-purple;
    }

    .btn-purple-primary {
        @apply bg-purple border-purple text-white;
    }

    .btn-purple-primary:hover {
        @apply bg-purple brightness-105 border-purple;
    }

    .btn-purple-disabled {
        @apply opacity-60;
    }

    .btn-purple-disabled:hover {
        @apply cursor-not-allowed brightness-90;
    }

    .btn-purple-error {
        @apply text-alarmRed border-alarmRed;
    }

    .btn-purple-error:hover {
        @apply text-alarmRed border-alarmRed brightness-105;
    }



    .input {
        @apply rounded-full bg-black bg-opacity-5 border-transparent;

    }

    .tip-text {
        @apply text-black text-sm;
    }

    .skip-text {
        @apply text-[#898989] text-base cursor-pointer font-bold;
    }

    .btn-purple {
        @apply text-lg h-12 font-bold min-h-fit text-purple border-purple bg-white;
    }


    .btn-purple:hover {
        @apply bg-white brightness-125 border-purple;
    }

    .btn-purple-primary {
        @apply bg-purple border-purple text-white;
    }

    .btn-purple-primary:hover {
        @apply bg-purple brightness-105 border-purple;
    }

    .btn-purple-disabled {
        @apply opacity-60;
    }

    .btn-purple-disabled:hover {
        @apply cursor-not-allowed brightness-90;
    }

    .btn-purple-error {
        @apply text-alarmRed border-alarmRed;
    }

    .btn-purple-error:hover {
        @apply text-alarmRed border-alarmRed brightness-105;
    }

    .btn-purple-reject {
        @apply bg-[#FE7575] border-[#FE7575] text-white;
    }

    .btn-purple-reject:hover {
        @apply bg-[#FE7575] border-[#FE7575] brightness-105;
    }

    .btn-card-primary {
      @apply bg-[#E3FD8A] rounded-lg text-black cursor-pointer p-4 border-2 border-transparent;
      box-shadow: 0px 4px 4px 0px #0000001A;
      border-radius: 10px;
    }

    .btn-card-primary:hover {
      @apply bg-[#E3FD8A] rounded-lg text-black border-2 border-black;
    }

    .btn-card {
      @apply bg-[white] rounded-lg text-black cursor-pointer p-4 border-2 border-transparent;
      box-shadow: 0px 4px 4px 0px #0000001A;
      border-radius: 10px;
    }

    .btn-card:hover {
      @apply bg-[white] rounded-lg text-black border-2 border-black;
    }

    .card-icon {

    }

    .card-title {
      font-size: 24px;
      font-weight: bold;
      margin-top: 10px;
      margin-bottom: 5px;
    }

    .card-text {
      font-size: 14px;
    }

    .wallet-card {
      width: 100%;
      height: 240px;
      padding: 20px;
      position: relative;
      background: radial-gradient(51.95% 100% at 100% 100%, #A3B2FF 0%, #E2FC89 100%), linear-gradient(113.16deg, rgba(244, 255, 176, 0.8) 2.41%, rgba(182, 255, 108, 0.8) 76.58%);
      box-shadow: 0px 4.87874698638916px 9.75749397277832px 0px #0000001F;
      border-radius: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 40px;
      margin-top: -20px;
      transform: rotate(-4deg);
    }

    .wallet-card-icon {
      position: absolute;
      bottom: 30px;
      right: 30px
    }

    .wallet-card-content {
      width: 100%;
    }

    .wallet-card-status {
      font-size: 12px;
      font-weight: bold;
      background: white;
      border-radius: 12px;
      padding: 0 10px;
      display: inline-block;
    }

    .wallet-card-text {
      width: 100%;
      font-size: 16px;
      font-weight: bold;
      margin-top: 10px;
    }

    .tip-title {
      font-weight: bold;
    }

    .tip-preview {
      max-width: 550px;
    }

    .tip-container {
      max-width: 550px;
    }

    .btn-more {
      color: #EC588D;
      cursor: pointer;
    }

    .input {
        @apply rounded-full bg-black bg-opacity-5 border-transparent;

    }

    .pwd-indicator {
        @apply flex-1 bg-slate-300;
    }

    .guardian-inputer {
        @apply flex flex-row items-center;
    }
}

.modal-box {
    background: #fff;
}

.input:focus {
    outline: none;
    border : 1px solid #3840ff;
}

.btn {
    text-transform: unset;
}

.Toastify__toast {
    border-radius: 0;
}


.progress-window-shadow {
    background                        : rgba(255, 255, 255, 0.02);
    /* box-shadow                        : 12.8px 57.6px 83.2px rgba(184, 158, 253, 0.3); */
    /* backdrop-filter                : blur(20px); */
    /* comment this otherwise position: fixed will not working */
}

.progress-bar {
    width        : 100%;
    position     : relative;
    appearance   : none;
    overflow     : hidden;
    height       : 0.5rem;
    border-radius: var(--rounded-box, 1rem);
    background   : linear-gradient(90deg, #BA93FD 0%, #ACDDF8 100%);
}

@keyframes progress {
    0% {
        left: -40%;
    }

    100% {
        left: 140%;
    }
}

.progress-bar::after {
    background         : white;
    opacity            : 0.2;
    content            : "";
    position           : absolute;
    top                : 0px;
    bottom             : 0px;
    left               : -40%;
    width              : 33.333333%;
    border-radius      : var(--rounded-box, 1rem);
    animation          : progress 3s infinite ease-in-out;
    animation-direction: normal;
}

.gas-tooltip::before {
    max-width: 240px;
}

.logo {
  height: 100px;
}

.logo-icon {
  height: 100%;
}

.logo-text {
  height: 30px;
}
