@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .page-title {
        @apply text-black text-opacity-80 text-2xl;
    }

    .page-desc {
        @apply text-sm;
    }

    .btn {
        @apply font-normal text-base rounded-3xl;
    }

    .btn-blue {
        @apply text-white bg-blue border-0;
    }

    .btn-blue:hover {
        @apply bg-blue brightness-90;
    }

    .btn-red {
        @apply text-white bg-redLight border-0;
    }

    .btn-red:hover {
        @apply bg-redLight brightness-90;
    }

    .input {
        @apply rounded-full bg-black bg-opacity-5 border-transparent;
    }

    .bg-actions {
        background: rgba(217, 217, 217, .2);
    }

    .add-guardian-shadow {
        box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.05);
    }

    .h-full-with-sidebar {
        height: calc(100% - 64px);
    }

    .receiver-address-box {
        color     : rgba(0, 0, 0, 0.6);
        background: rgba(217, 217, 217, 0.2);
    }
}

@font-face {
    font-family: 'Inter';
    font-weight: 400;
    src        : url('../assets/fonts/Inter/Inter-Regular.ttf');
}

@font-face {
    font-family: 'Inter';
    font-weight: 600;
    src        : url('../assets/fonts/Inter/Inter-SemiBold.ttf');
}

body {
    font-family: 'Inter';
}

.input:focus {
    outline: none;
    border : 1px solid #3840ff;
}

.btn {
    text-transform: unset;
}

.Toastify__toast {
    border-radius: 0;
}